body {
    text-align: center;
    font-family: "Arial";
    color: blue;
    color: red;
}

#container{
    width: 70%;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid gray;
}

#cabecera {
    display: flex;
    color: white;
    background-color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.poyito {
    width: 5rem;
    height: 5rem;
}